extends layout

block content
  h3.my-3 Edit candidate dates
  form(method="post", action=`/schedules/${schedule.scheduleId}?edit=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    div.form-group
      label(for="scheduleName") Event title
      input(type="text" name="scheduleName" value=schedule.scheduleName)#scheduleName.form-control
    div.form-group
      label(for="memo") Note
      textarea(name="memo")#memo.form-control #{schedule.memo}
    div.form-group
      label Candidate dates
      ul.list-group
        each candidate in candidates
          li.list-group-item #{candidate.candidateName}
      label(for="candidates").my-2 Add extra candidate dates (input several dates by line breaks)
      textarea(name="candidates")#candidates.form-control
    div
      button(type="submit").btn.btn-info Submit this edition
  h3.my-3 !!danger!!
  form(method="post", action=`/schedules/${schedule.scheduleId}?delete=1`)
    input(type="hidden" name="_csrf" value!=csrfToken)
    button(type="submit").btn.btn-danger Delete this event
