doctype html
html
  head
    title 予定調整くん
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet",
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
    crossorigin="anonymous")
    link(rel="stylesheet",
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN",
    crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/bootstrap-social.css")
  body
    nav.navbar.navbar-light.bg-light
      div.navbar-header
        a(href="/").navbar-brand.nav-link
          img(src="/images/NS.png", alt="ブランド", width="30" height="30").d-inline-block.align-top
          div.d-inline-block 予定調整くん
      ul.navbar-nav
        if user
          li.nav-item
            a(href="/logout").nav-link #{user.username} をログアウト
    div.container
      block content
    script(src="/javascripts/bundle.js")
