extends layout

block content
  div.card.my-3
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      p(style="white-space:pre;") #{schedule.memo}
    div.card-footer
      p 作成者: #{schedule.user.username}
  - var isMine = parseInt(user.id) === schedule.user.userId
  if isMine
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info この予定を編集する
  h3.my-3 出欠表
  table.table.table-bordered
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var availability = availabilityMapMap.get(user.userId).get(candidate.candidateId)
          - var availabilityLabels = ['欠', '？', '出'];
          - var buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success'];
          td
            if user.isSelf
              button(class=`availability-toggle-button btn-lg ${buttonStyles[availability]}`
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId
                data-candidate-id=candidate.candidateId
                data-availability=availability) #{availabilityLabels[availability]}
            else
              h3 #{availabilityLabels[availability]}
    tr
      th コメント
      each user in users
        if user.isSelf
          td
            p
              small#self-comment #{commentMap.get(user.userId)}
            button(
              data-schedule-id=schedule.scheduleId
              data-user-id=user.userId
              data-toggle="modal"
              data-target="#comment-modal")#self-comment-button.btn-sm.btn-info 編集
            //- モーダルウィンドウ
            div.modal.fade#comment-modal(
              tabindex="-1"
              role=dialog
              aria-labelledby="comment-modal-label"
              aria-hidden="true")
              div.modal-dialog(role="document")
                div.modal-content
                  div.modal-header
                    h5.modal-title#comment-modal-label コメントを255文字以内で入力してください。
                    button.close(
                      data-dismiss="modal"
                      aria-label="Close")
                      span(aria-hidden="true") &times;
                  div.modal-body
                    div.form-group
                      label(for="comment") コメント
                      input(type="text" name="comment" value=commentMap.get(user.userId))#comment.form-control
                  div.modal-footer
                    button.btn.btn-secondary(data-dismiss="modal") 閉じる
                    button#save-comment-change-button.btn.btn-primary 変更を保存する
        else
          td
            p
              small #{commentMap.get(user.userId)}
