extends layout

block content
  a(href="/").btn.btn-secondary TOPへ戻る
  div.card.my-3
    div.card-header
      h4 #{schedule.scheduleName}
    div.card-body
      p(style="white-space:pre;") #{schedule.memo}
    div.card-footer
      p 作成者: #{schedule.user.username}
  div.form-group
    label(for="shareURL") 共有用 URL:
    - var herokuURL = process.env.HEROKU_URL ? process.env.HEROKU_URL : 'http://example.net:8000/'
    input(type="text" value=`${herokuURL}schedules/${schedule.scheduleId}/`)#shareURL.form-control
  - var isMine = (user.id === schedule.user.userId)&&(user.provider === schedule.user.userProvider)
  if isMine
    div#tweet-area
      a(href="https://twitter.com/intent/tweet?button_hashtag=予定調整くん&ref_src=twsrc%5Etfw"
        class="twitter-hashtag-button"
        data-text=schedule.scheduleName
        data-url=herokuURL
        data-size=large
        data-show-count="false") Tweet #予定調整くん
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
    div
      a(href=`/schedules/${schedule.scheduleId}/edit`).btn.btn-info この予定を編集する
  h3.my-3 出欠表
  table.table.table-bordered
    tr
      th 予定
      each user in users
        th #{user.username}
    each candidate in candidates
      tr
        th #{candidate.candidateName}
        each user in users
          - var mapMapKey = user.userId+user.userProvider
          - var availability = availabilityMapMap.get(mapMapKey).get(candidate.candidateId)
          - var availabilityLabels = ['欠', '？', '出'];
          - var buttonStyles = ['btn-danger', 'btn-secondary', 'btn-success'];
          td
            if user.isSelf
              button(class=`availability-toggle-button btn-lg ${buttonStyles[availability]}`
                data-schedule-id=schedule.scheduleId
                data-user-id=user.userId
                data-user-provider=user.userProvider
                data-candidate-id=candidate.candidateId
                data-availability=availability) #{availabilityLabels[availability]}
            else
              h3 #{availabilityLabels[availability]}
    tr
      th コメント
      each user in users
        - var commentMapKey = user.userId + user.userProvider;
        if user.isSelf
          td
            p
              small#self-comment #{commentMap.get(commentMapKey)}
            button(
              data-schedule-id=schedule.scheduleId
              data-user-id=user.userId
              data-user-provider=user.userProvider)#self-comment-button.btn-xs.btn-info 編集
        else
          td
            p
              small #{commentMap.get(commentMapKey)}